/* google fonts */

/* dm sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* DM Serif Text */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
/* Hanken grotesk */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* google fonts */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

:root {
    --Hanken-Grotesk: "Hanken Grotesk", sans-serif;
    --white: #FFF;
    --primary: #FF510E;
    --black: #030303;
    --dark: #;
    --grey: #696969;
    --skyBlue: #10fafa;
    --blue: #358bfc;
    --base-transition: all 0.3s ease;
}

body {
    font-family: var(--Hanken-Grotesk);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: var(--dark);
    background-color: var(--white);
}


body::-webkit-scrollbar {
    display: none;
}

/* common style starts */

.show {
    left: 0px;
}

body.no-scroll {
    overflow: hidden;
}

.common-heading{
    color: var(--black);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}
.common-span-text{
    color: var(--primary);
    font-style: italic;
    font-family: "DM Serif Text";
}

.common-sub-heading {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.24px;
    text-transform: uppercase;
    color: var(--grey);
}

.common-heading-lg {
    color: var(--grey);
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
}

.common-para {
    color: var(--grey);
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.common-btn-2 {
    padding: 2px 3px 2px 24.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--primary);
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.common-btn-2 span {
    display: flex;
}

.common-padding {
    padding: 96px 0px;
}
.section-heading-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 62px;
  }
.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

/* common style =End= */



.section-padding-x {
    padding-left: 16px;
    padding-right: 16px;
}

.common-padding {
    padding: 46px 0px;
}

@media only screen and (min-width: 450px) {
    .section-padding-x {
        padding-left: 20px;
        padding-right: 20px;
    }

    .common-padding {
        padding: 56px 0px;
    }

}

@media only screen and (min-width: 769px) {
    .common-padding {
        padding: 66px 0px;
    }
}

@media only screen and (min-width: 992px) {
    .section-padding-x {
        padding-left: 40px;
        padding-right: 40px;
    }

    .common-padding {
        padding: 80px 0px;
    }
}

@media only screen and (min-width: 1300px) {
    .section-padding-x {
        padding-left: 90px;
        padding-right: 90px;
    }

    .common-padding {
        padding: 90px 0px;
    }
}

@media only screen and (min-width: 1700px) {
    .section-padding-x {
        padding-left: 120px;
        padding-right: 120px;
    }

    .common-padding {
        padding: 160px 0px;
    }
}