@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .tall {
    height: 303px;
}
.short {
  height: 206px;
}

.slide {
    width: 448px;
}
.hero-slider {
  margin-top: -171px !important;
}
}

@media screen and (max-width: 1500px) {
  .faq-content-wrapper {
    padding: 0;
    gap: 50px;
  }

  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .stat-box h2 {
    font-size: 40px;
    line-height: 0;
  }

  .content-box h2 {
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 1200px) {
  .team-content-wrapper {
    flex-direction: column;
  }

  .faq-content-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 !important;
  }

  .faq-item {
    padding: 30px 0;
  }

  .stats-content-wrapper {
    flex-direction: column-reverse;
  }

  .stats-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .stat-box h2 {
    font-size: 40px;
    line-height: 22.561px;
  }

  .common-sub-heading {
    text-align: center;
  }

  .get-started-content-wrapper {
    gap: 40px;
  }

  .get-started-content-wrapper h3 {
    font-size: 44px;
    line-height: 54px;
  }

  .common-heading {
    font-size: 48px !important;
    line-height: 56px !important;
  }

  .section-heading-wrapper {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .text-content-wrapper h1 {
    font-size: 75px;
    line-height: 90.941px;
  }
  .tall {
    height: 303px;
}
.short {
  height: 206px;
}

.slide {
    width: 448px;
}
.hero-slider {
  margin-top: -171px !important;
}
.why-choose-common-heading {
  font-size: 20px;
  line-height: 30px;
}
.why-choose-card-2 .why-choose-card-content-area {
  padding: 24px;
}
.price-cards-grid {
  gap: 35px;
}
.price_text>span {
  font-size: 28px;
  font-weight: 800;
}
.price_text {
  line-height: 30px;
}
.price_subtitle {
  font-size: 17px;
  line-height: 26px;
}
.get-started-content-wrapper h3 {
  font-size: 40px;
  line-height: 50px;
  max-width: 240px;
}
.get-started-content-wrapper p {
  font-size: 20px;
  line-height: 30.3px;
  max-width: 580px;
}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .common-para{
    font-size: 17px;
  }
  .tm-br-class{
    display: none;
  }
  /* home page */
  .tall {
    height: 283px;
}
.short {
  height: 181px;
}

.slide {
    width: 408px;
}
.hero-slider {
  margin-top: -171px !important;
}
.text-content-wrapper h1 {
  font-size: 65px;
  line-height: 88.941px;
}
.why-choose-common-heading {
  font-size: 18px;
  line-height: 30px;
}
.why-choose-card-2 .why-choose-card-content-area {
  padding: 24px;
}
.price-cards-grid {
  gap: 25px;
}
.price_text>span {
  font-size: 28px;
  font-weight: 800;
}
.price_text {
  line-height: 30px;
}
.price_subtitle {
  font-size: 16px;
  line-height: 26px;
}
.get-started-content-wrapper h3 {
  font-size: 28px;
  line-height: 41px;
  max-width: 240px;
}
.get-started-content-wrapper p {
  font-size: 18px;
  line-height: 28.3px;
  max-width: 479px;
}
.get-started-content-wrapper {
  gap: 25px !important;
}
}

@media only screen and (min-width: 992px) {
  .close-sidebar-btn {
    display: none;
  }

}

@media only screen and (max-width: 991px) {
  .mobile-header {
    display: flex !important;
    padding: 10px 20px;
  }

  header {
 position: fixed; 
    width: 100vw;
    height: 100vh;
    z-index: 999;
    top: -110vh; 
    transition: top 0.5s cubic-bezier(0.4, 0, 0.2, 1); 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 background-color: #674b3e;
  }

  .header-main {
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    background: #674b3e !important;
    z-index: 990;
    border-radius: 0px;
  }

  .menu-area {
    flex-direction: column;
    gap: 30px;
  }


  .about-us-single-item {
    flex-direction: column !important;
  }

  .about-us-img-area img {
    width: 100%;
  }

  .about-us-text-content-wrapper {
    padding: 0px;
  }
  .tm-br-class{
    display: none;
  }
  .price-cards-grid {
    gap: 30px;
    flex-direction: column;
}
.pro_card {
  margin-top: 40px;
}
.logo-name {
  color: var(--primary);
}

.get-started-content-wrapper {
  flex-wrap: wrap;
  gap: 24px;
}

.common-heading {
  font-size: 44px !important;
  line-height: 52px !important;
}
}

@media (max-width: 768px) {
  .price-cards-grid {
    gap: 30px;
    flex-direction: column;
    align-items: center;
}
.pro_card {
  margin-top: 40px;
}
.why-choose-card-wrapper {
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.section-heading-wrapper-2 {
  gap: 4px;
  flex-direction: column;
  align-items: center;
}
.footer-bottom {
  flex-direction: column-reverse;
  align-items: center;
  gap: 12px;
}
.section-heading-wrapper-2-right {
  gap: 18px;
  align-items: center;
}

/* about us page responsive */
.tem-img-area {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.tem-img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.learn-more {
  width: fit-content;
  margin: auto;
}

.section-heading-wrapper {
  margin-bottom: 30px;
}

.faq-question p {
  font-size: 22px;
}

.stat-box h2 {
  font-size: 34px;
}

.get-started-content-wrapper h3 {
  font-size: 38px;
  line-height: 50px;
  max-width: 100%;
}

.get-started-content-wrapper p {
  font-size: 20px;
  line-height: 32.3px;
}

.common-heading {
  font-size: 38px !important;
  line-height: 48px !important;
}
.content-box h2 {
  font-size: 35px;
  line-height: 34px;
}
.content-box p {
  font-size: 17px;
  margin: 15px 0 22px;
}
.stats-content-wrapper-img-area {
  max-height: 508px;
}
.home-hero-section {

  height: 75vh;
}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .common-heading {
    font-size: 28px;
  }

  .common-sub-heading {
    font-size: 16px;
    line-height: 25.24px;
  }

  .common-heading-lg {
    font-size: 32px;
    line-height: 42.36px;
  }

  .common-para {
    font-size: 17px;
    line-height: 26.52px;
  }
  .faq-content-wrapper {
    width: 100%;
    gap: 35px;
    padding: 0px 70px;
}

/* home page */
  /* home page */
  .text-content-wrapper h1 {
    font-size: 60px;
    line-height: 78.941px;
}
  .tall {
    height: 273px;
}
.short {
  height: 171px;
}

.slide {
    width: 350px;
}
.hero-slider {
  margin-top: -171px !important;
}
.why-choose-card-content-area {
  padding: 20px;
}
.why-choose-common-heading {
  font-size: 16px;
  line-height: 30px;
}
.why-choose-card-2 .why-choose-card-content-area {
  padding: 20px;
}
.why-choose-card {
  gap: 16px;
}
.section-heading-wrapper-2 {
  gap: 35px;
}
.section-heading-wrapper-2-right .common-sub-heading {
  text-align: start !important;
}
.section-heading-wrapper-2-right {
  gap: 16px;
}
.team-para {
  font-size: 35px;
  line-height: 56px;
}
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
  .common-heading {
    font-size: 24px;
    line-height: 35px;
  }

  .common-sub-heading {
    font-size: 17px;
    line-height: 25.24px;
    text-align: center;
  }

  .common-heading-lg {
    font-size: 27px;
    line-height: 38.36px;
  }

  .common-para {
    font-size: 16px;
    line-height: 26.52px;
  }
  .faq-content-wrapper {
    width: 100%;
    gap: 35px;
    padding: 0px 70px;
  
}
.section-heading-wrapper {
  gap: 15px;
  margin-bottom: 35px;
}

  /* home page */
  .text-content-wrapper h1 {
    font-size: 35px;
    line-height: 50.941px;
}
  .tall {
    height: 200px;
}
.short {
  height: 121px;
}

.slide {
    width: 250px;
}
.hero-slider {
  margin-top: -121px !important;
}
.layer-img {
  height: 140px;
}
.price-tab-btn {
  padding: 14px 50px;
}
.yearly-discount {
  position: absolute;
  bottom: -18px;
  left: -77px;
  width: 121px;
}
.pricing-card-content-wrapper {
  gap: 50px;
}
.team-para {
  font-size: 24px;
  line-height: 45px;
}

/* footer */
.footer-container-bottom {
  margin: 50px 0px 40px;
}
.custom-footer {
  padding-top: 60px;

}
.footer-about {
  font-size: 17px;
}
.footer-links a {
  font-size: 16px;
}

}
@media only screen and (max-width: 500px) {
  .common-heading {
    font-size: 18px;
    padding: 0px 10px;
    line-height: 30px;
  }

  .common-sub-heading {
    font-size: 14px;
    line-height: 24.24px;
    text-align: center;
  }

  .common-heading-lg {
    font-size: 24px;
    line-height: 32.36px;
  }

  .common-para {
    font-size: 15px;
    line-height: 24.52px;
  }
  .section-heading-wrapper {
    gap: 10px;
    margin-bottom: 30px;
  }

  /* home page */
  .text-content-wrapper h1 {
    font-size: 30px;
    line-height: 40.941px;
}
  .tall {
    height: 200px;
}
.short {
  height: 121px;
}

.slide {
    width: 250px;
}
.hero-slider {
  margin-top: -121px !important;
}
.layer-img {
  height: 90px;
}
.pagination span { 
  width: 12px;  
  height: 12px;
}
.pagination span.active { 
  width: 16px;  
  height: 16px;
}
.pagination span.active { /* Fix selector */
  width: 24px;  /* Increase size */
  height: 24px;
  background-color: var(--primary);
}
.price-tab-btn {
  padding: 12px 40px;
}
.yearly-discount {
  position: absolute;
  bottom: 14px;
  left: -31px;
  width: 121px;
}
.pricing-card-content-wrapper {
  gap: 50px;
}
.section-heading-wrapper-2-right {
  gap: 17px;
}
.slide-para {
  padding: 30px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
.unlock-potential-area {
  padding: 75px 0px;
}
.price-cards {
  gap: 12px;
  padding: 15px;
}
.price_subtitle {
  font-size: 18px;
  line-height: 24px;
}
.price_title {
  line-height: 45px;
  font-size: 30px;
}
.price_text>span {
  font-size: 28px;
}
.price_get_start {
 padding: 12px 0px;
  font-size: 16px;
}
.price_text {
  line-height: 40px;
  font-size: 15px;
}
.plans_features_list {
  gap: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}
.price-cards {
  width: auto;
}

/* about us page responsive */
.content-box h2 {
  font-size: 32px;
  line-height: 40px;
}
.stats-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.team-para {
  font-size: 32px;
  line-height: 44px;
}

.team-content-wrapper {
  padding: 30px;
  gap: 30px;
}

.faq-item {
  padding: 20px 0;
}

.faq-question p {
  font-size: 18px;
}

.get-started-content-wrapper h3 {
  font-size: 30px;
  line-height: 44px;
}

.get-started-content-wrapper p {
  font-size: 18px;
  line-height: 26px;
}
.common-heading {
  font-size: 32px !important;
  line-height: 44px !important;
}
.team-para {
  font-size: 20px;
  line-height: 42px;
}
.stat-box h2 {
  font-size: 28px;
}
.stats-content-wrapper-img-area {
  max-height: 358px;
}
.get-started-content-wrapper {
  padding: 50px 0px;
}
.faq-answer p {

  font-size: 14px;
  line-height: 25px;
  margin: 6px 0;
}
/* about us page responsive */

/* footer */
.custom-footer {
  padding-top: 40px;
}
.footer-container-bottom {
  margin: 35px 0px 25px;
}
.footer-left {
  gap: 12px;
}
.footer-about {
  font-size: 16px;
  line-height: 27.7px;
}
.footer-links a {
  font-size: 15px;
  line-height: 25px; 
}
.social-icons {
  gap: 20px;
}
.footer-polices {
 justify-content: center;
  gap: 20px;
}
.footer-copyright, .footer-polices a {
  font-size: 14px;
  line-height: 25px;
}
  
}
